.mypunchin {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100%;
  left: 0%;
  /* margin: 30px; */
  background: #fff;
  padding-bottom: 10px;
  animation: onmodel .6s ease-in-out forwards;
}

@keyframes  onmodel{
  0%{

  }
  100%{
    top: 0;
  }
}
.mypunchin > div {
  width: 600px;
  /* height: 400px; */
  padding:20px ;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #666;
}
.punchincontainer {
  position: relative;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  background: #09e;
  /* padding-bottom: 10px; */
}

.punchincontainer .mypunchindate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.mypunchindate input {
  height: 30px;
  width: 190px;
  /* margin: 15px 90px; */
  border: none;
  margin-left: 70px;
  border-radius: 6px;
  color: #fff;
}

.punchincontainer p,
h4,
h6 {
  color: #fff;
}

.punchintime {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.punchintime input {
  height: 30px;
  width: 200px;
  color: #fff;
  margin: 15px 10px;
  border: none;
  margin-left: 70px;
  border-radius: 6px;
}

.punchinnote {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
.punchinnote textarea {
  height: 70px;
  width: 250px;
  margin-left: 70px;
  border: none;
  border-radius: 6px;
}
.punchinbtn {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.punchinbtn button {
  margin: 0 100px;
  /* float: right; */
  height: 40px;
  width: 90px;
  border-radius: 5px;
  border: none;
  background: #09e;
  box-shadow: 0 2px rgb(29, 88, 28);
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  font-weight: 900;
}
.punchinbtn button:hover {
  background: rgb(50, 183, 255);
  color: #000;
  font-weight: 900;
}

.mypunchinheader label h3 {
  padding: 10px 20px;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.581);
  background: #09e;
  /* color: rgb(208, 208, 208); */
  border-radius: 5px;
  color: #fff;
}
